
/* Your CSS Code here. */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover{
    color: aquamarine;
  }

  .topnav-right {
    float: left;
  }

  .hover:hover{
    background-color: blue;
  }
